{% extends 'base.jinja2' %}
{% set active_page = "dashboard home" %}

{% block header -%}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{%- endblock %}
{% block content %}
Welcome home bb
{% endblock %}
