{% extends 'base.jinja2' %}
{% set active_page = "dashboard index" %}

{% block header -%}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{%- endblock %}
{% block content -%}
Welcome home, {{ g.user['first_name']|e }}
{%- endblock %}
