{% extends 'base.jinja2' %}
{% set active_page = "dashboard reservations" %}

{% block header %}
  <h1>{% block title %}Upcoming Reservations{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if reservations %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Reservation</th>
      <th scope="col">Nights</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in reservations %}
    <tr>
      <td>{{reservation['status']}}</td>
      <td>{{reservation['reservation']}}</td>
      <td>{{reservation['nights']}}</td>
      <td>{% if reservation['is_cancelable'] %}<a href="" onclick="return cancel({{reservation['id']}});">Cancel</a>{% endif %}</td>
    </tr> 
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>You have no existing reservations. <a href="{{url_for('dashboard.book')}}">Click here to book a reservation.</a>
{% endif %}
<script>
function cancel(id) {
  if (confirm("Are you sure you want to delete this reservation? Click OK to delete.")) {
    var oReq = new XMLHttpRequest();
    oReq.addEventListener("load", function() {window.location = "/cancellation_success";} );
    oReq.open("DELETE", "/reservation/" + id);
    oReq.send();
  }
  return false;
}
</script>
{% endblock %}
