{% extends 'base.jinja2' %}
{% set active_page = "dashboard reservations" %}

{% block header %}
  <h1>{% block title %}Upcoming Reservations{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Reservation</th>
      <th scope="col">Nights</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for reservation in reservations %}
    <tr>
      <td>{{reservation['status']}}</td>
      <td>{{reservation['reservation']}}</td>
      <td>{{reservation['nights']}}</td>
      <td>{% if reservation['is_cancelable'] %}Cancel{% endif %}</td>
    </tr> 
  {% endfor %}
  </tbody>
</table>
{% endblock %}
