{% extends 'base.jinja2' %}
{% set active_page = "auth reset password" %}

{% block header %}
  <div class="form-header"><h1>{% block title %}Reset Password{% endblock %}</h1></div>
{% endblock %}

{% block content %}
  <form method="post" class="register-form">

    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" name="password" class="form-control" id="password" required /> 
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
{% endblock %}
