{% extends 'base.jinja2' %}
{% set active_page = "admin guests" %}

{% block header %}
  <h1>{% block title %}Manage Guests{% endblock %}</h1>
{% endblock %}

{% block content %}
<p><a href="{{url_for('admin.invite_guest')}}">Invite new guest</a><br />
<a href="{{url_for('admin.invites')}}">Manage pending invitations</a></p>
{% if guests|length > 1 %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Note</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for guest in guests if guest['id'] != g.property['owner_user_id'] %}
    <tr>
      <td>{{guest['first_name']|e + " " + guest['last_name']|e}}{% if guest['is_admin'] %} (Admin){% endif %}</td>
      <td>{{guest['email']|e}}</td>
      <td>{% if guest['note'] %}{{guest['note']|e}}{% endif %}</td>
      <td><a href="{{url_for('admin.edit_guest', guest_id=guest['id'])}}">Edit</a></td>
    </tr> 
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
