{% extends 'base.jinja2' %}
{% set active_page = "admin invites" %}

{% block header %}
  <h1>{% block title %}Manage Pending Invitations{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if not invites %}
<p>You have no outstanding invitations. <a href="{{url_for('admin.invite_guest')}}">Click here to invite a new guest.</a></p>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for invite in invites %}
    <tr>
      <td>{{invite['email']|e}}</td>
      <td><a href="{{url_for('admin.edit_invite', invite_id=invite['id'])}}">Edit</a></td>
    </tr> 
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
