{% extends 'base.jinja2' %}
{% set active_page = "admin remove_guest" %}

{% block header %}
  <!-- <div class="form-header"><h1>{% block title %}Remove Guest{% endblock %}</h1></div> -->
{% endblock %}

{% block content %}
<center>
<form method="post">
<p>Are you sure you want to remove {{guest['first_name']|e}} {{guest['last_name']|e}} from the {{g.property['name']|e}} guest list?</p>
<p>{{guest['first_name']|e}} will no longer be able to book new reservations and all of their upcoming reservations will be canceled.</p>
      <button type="submit" class="btn btn-danger">Remove {{guest['first_name|e']}} {{guest['last_name|e']}}</button>
      <a href="{{url_for('admin.guests')}}">
        <button type="button" class="btn btn-secondary">Cancel</button>
      </a>
    </div>
  </form>
{% endblock %}
