{% extends 'base.jinja2' %}
{% set active_page = "auth resend confirmation" %}

{% block header -%}
  <!--<h1>{% block title %}Email Confirmation Resent{% endblock %}</h1>-->
{%- endblock %}
{% block content -%}
Confirmation email has been resent. Please check your inbox and click on the link in the email.
{%- endblock %}
