{% extends 'base.jinja2' %}
{% set active_page = "dashboard book_success" %}

{% block header %}
  <h1>{% block title %}Success!{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Your reservation has been canceled.</p>
<p>Go to <a href="{{url_for('dashboard.reservations')}}">Reservations</a> to see your remaining reservations or <a href="{{url_for('dashboard.book')}}">Book a Reservation</a>.</p>
{% endblock %}
